body {
  background-color: green;
}
.a {
  position: relative;
  width: 149px;
  /* height: 207px; */
  border-radius: 5%;
  background: white;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}
.container {
    text-align: center;
    display: inline-block;
}
.container.bottom {
    float: right;
}
.corner-number-top {

}
.small-icon-top{

}
.pip {
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
}
.small-icon-bottom {
rotate: 180deg;
}
.corner-number-bottom {
rotate: 180deg;
}
.clearfix {
    clear: both;
}
#card2 {
    margin-left: 25%;
}
#card3 {
    margin-left: 50%;
}
#card4 {
    margin-left: 70%;
}